<div class ="about">
  <div class="block">
    <h2>О игре</h2>
       <p>В "Города" играют двое человек, в которой каждый участник в свою очередь называет реально существующий город любой страны, название которого начинается на ту букву, которой оканчивается название предыдущего участника.</p>
       <p> Исключением в правилах игры являются названия, оканчивающиеся на «Ь» (мягкий знак), «Ъ» (твёрдый знак), «Ё», «Ы»,: в таких случаях участник называет город на предпоследнюю букву.ри этом ранее названные города нельзя употреблять снова. Первый участник выбирает любой город.</p>
       <p>Игра оканчивается, когда очередной участник не может назвать нового города.</p>
  </div>
</div>    