<ul class="startmenu__main">
  <li class="startmenu__main__new_game__button">
    <button class="startmenu__main startmenu__main__button"><a href = "/game" >New Game</a></button>
  </li>
  <li class ="startmenu__main__settings__button" >
    <button class="startmenu__main startmenu__main__button" ><a href = "/settings" >Settings</a></button>
  </li> 
   <li class ="startmenu__main__about__button" >
    <button class="startmenu__main startmenu__main__button" ><a href = "/about" >About</a></button>
  </li> 
</ul>
